*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: rgb(225, 176, 193);
}

h1{
    background-color: #081b31;
    color:#fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
   
    cursor: pointer;
     opacity: 0.5; 
    

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
#msg{
    margin-top: 5rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 5rem;
}

@media(max-width:500px){
    h1 {
        background-color: #081b31;
        color: #fff;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;
        display: inline-block;
        align-items: center;
        padding: 0.5rem;
        border-radius: 1rem;
        margin-top: 2cm;
    }
    

    .choices{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        margin-top: 1cm;
        
    }

    img{
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 50%;
    }

    .choice{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .score-board{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-top: 2rem;
        gap: 3rem;
       
    }

    #msg{
        margin-top: 5rem;
        background-color: #081b31;
        color: #fff;
        font-size: 1rem;
        display: inline;
        padding: 1rem;
        border-radius: 1rem;
    }
    .msg-container{
        margin-top: 5rem;
        
        
    }


}